.menu-btn {
  position: absolute;
  z-index: 3;
  right: 25px;
  top: 25px;
  cursor: pointer;
  transition: all 1.5s ease-out;
  -webkit-transition: all 1.5s ease-out;
  -moz-transition: all 1.5s ease-out;
  -ms-transition: all 1.5s ease-out;
  -o-transition: all 1.5s ease-out; }
  .menu-btn.close {
    zoom: 355%;
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    right: 20.5vw;
    top: 10.5vh; }

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.9;
  visibility: hidden; }
  .menu.show {
    visibility: visible; }
  .menu-branding, .menu-nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: left;
    width: 50%;
    height: 100vh;
    overflow: hidden; }
  .menu-nav {
    margin: 0;
    padding: 0;
    background: #7d7a7a;
    list-style: none;
    transform: translate3d(0, -100%, 0);
    transition: all 1.5s ease-out;
    -webkit-transition: all 1.5s ease-out;
    -moz-transition: all 1.5s ease-out;
    -ms-transition: all 1.5s ease-out;
    -o-transition: all 1.5s ease-out; }
    .menu-nav.show {
      transform: translate3d(0, 0, 0); }
  .menu-branding {
    background: white;
    transform: translate3d(0, 100%, 0);
    transition: all 1.5s ease-out;
    -webkit-transition: all 1.5s ease-out;
    -moz-transition: all 1.5s ease-out;
    -ms-transition: all 1.5s ease-out;
    -o-transition: all 1.5s ease-out; }
    .menu-branding.show {
      transform: translate3d(0, 0, 0); }
  .menu .nav-item {
    transform: translate3d(600px, 0, 0);
    transition: all 1.5s ease-out;
    -webkit-transition: all 1.5s ease-out;
    -moz-transition: all 1.5s ease-out;
    -ms-transition: all 1.5s ease-out;
    -o-transition: all 1.5s ease-out; }
    .menu .nav-item.show {
      transform: translate3d(0, 50px, 0);
      -webkit-transform: translate3d(0, 50px, 0);
      -moz-transform: translate3d(0, 50px, 0);
      -ms-transform: translate3d(0, 50px, 0);
      -o-transform: translate3d(0, 50px, 0); }
    .menu .nav-item.current > a {
      color: #eece1a; }
  .menu .nav-link {
    display: inline-block;
    position: relative;
    font-size: 30px;
    text-transform: uppercase;
    padding: 1rem 0;
    font-weight: 700;
    color: white;
    text-decoration: none;
    transition: all 1.5s ease-out;
    -webkit-transition: all 1.5s ease-out;
    -moz-transition: all 1.5s ease-out;
    -ms-transition: all 1.5s ease-out;
    -o-transition: all 1.5s ease-out; }
    .menu .nav-link:hover {
      color: #eece1a; }

.nav-item:nth-child(1) {
  transition-delay: 0.2s; }

.nav-item:nth-child(2) {
  transition-delay: 0.4s; }

.nav-item:nth-child(3) {
  transition-delay: 0.6s; }

.nav-item:nth-child(4) {
  transition-delay: 0.8s; }

* {
  box-sizing: border-box; }

body {
  color: #404040;
  height: 100%;
  margin: 0;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif; }
  body#bg-img {
    background: url("../img/123.png");
    background-attachment: fixed;
    background-size: cover; }

header {
  position: fixed;
  z-index: 2;
  width: 100%; }

#home {
  overflow: hidden; }

#counter {
  color: white; }

@media screen and (min-width: 1171px) {
  .prf {
    background: #8a8787; }

  body {
    color: #404040;
    height: 100%;
    margin: 0;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif; }
    body#bg-img {
      background: url("../img/123.png");
      background-attachment: fixed;
      background-size: cover; }

  h1,
  h2,
  h3 {
    margin: 0;
    font-weight: 400; }
    h1.lg-heading,
    h2.lg-heading,
    h3.lg-heading {
      color: #8a8787;
      font-size: 3.5rem;
      font-weight: 900;
      text-transform: uppercase; }
    h1.sm-heading,
    h2.sm-heading,
    h3.sm-heading {
      margin-bottom: 1.5rem;
      font-style: italic;
      padding: 0.2rem 1rem;
      color: #a3a0a0;
      line-height: 2.5; }

  a {
    color: #404040;
    text-decoration: none; }

  header {
    position: fixed;
    z-index: 2;
    width: 100%; }

  .text-secondary {
    font-weight: 400; }

  main {
    padding: 4rem;
    height: 100%; }
    main .icons {
      margin-top: 2rem; }
      main .icons a {
        padding: 1rem;
        -webkit-transition: 1s ease;
        -moz-transition: 1s ease;
        -o-transition: 1s ease;
        transition: 1s ease;
        color: #8a8787; }
        main .icons a:hover:nth-child(1) {
          color: #1dcaff;
          transition: all 1.5s ease-out;
          -webkit-transition: all 1.5s ease-out;
          -moz-transition: all 1.5s ease-out;
          -ms-transition: all 1.5s ease-out;
          -o-transition: all 1.5s ease-out;
          -webkit-transform: scale(1.25);
          -moz-transform: scale(1.25);
          -o-transform: scale(1.25);
          transform: scale(1.25);
          -webkit-transform-origin: top right;
          -moz-transform-origin: top right;
          -o-transform-origin: top right;
          transform-origin: top right; }
        main .icons a:hover:nth-child(2) {
          color: #0077B5;
          transition: all 1.5s ease-out;
          -webkit-transition: all 1.5s ease-out;
          -moz-transition: all 1.5s ease-out;
          -ms-transition: all 1.5s ease-out;
          -o-transition: all 1.5s ease-out;
          -webkit-transform: scale(1.25);
          -moz-transform: scale(1.25);
          -o-transform: scale(1.25);
          transform: scale(1.25);
          -webkit-transform-origin: top right;
          -moz-transform-origin: top right;
          -o-transform-origin: top right;
          transform-origin: top right; }
        main .icons a:hover:nth-child(3) {
          color: black;
          transition: all 1.5s ease-out;
          -webkit-transition: all 1.5s ease-out;
          -moz-transition: all 1.5s ease-out;
          -ms-transition: all 1.5s ease-out;
          -o-transition: all 1.5s ease-out;
          -webkit-transform: scale(1.25);
          -moz-transform: scale(1.25);
          -o-transform: scale(1.25);
          transform: scale(1.25);
          -webkit-transform-origin: top right;
          -moz-transform-origin: top right;
          -o-transform-origin: top right;
          transform-origin: top right; }
    main#home {
      overflow: hidden; }
      main#home h1 {
        margin-top: 45.7vh;
        margin-left: 55.2vw;
        text-align: center; }
      main#home h2 {
        margin-left: 62vw; }
      main#home .icons {
        margin-left: 69vw; }

  h1.abt {
    color: white; }

  .about-info {
    display: grid;
    grid-gap: 30px;
    grid-template-areas: 'bioimage bio bio'  'job1 job2 job3';
    grid-template-columns: repeat(3, 1fr); }
    .about-info .bio-image {
      grid-area: bioimage;
      margin: auto;
      width: 250px;
      height: 250px; }
    .about-info .bio {
      grid-area: bio;
      font-size: 1.5rem; }
      .about-info .bio p {
        color: white; }
      .about-info .bio h3 {
        color: #eece1a; }
    .about-info .job-1 {
      grid-area: job1; }
      .about-info .job-1 h4, .about-info .job-1 h5 {
        color: #8a8787;
        padding-left: 12px; }
      .about-info .job-1 p {
        font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        color: #a3a0a0;
        font-size: 0.9rem;
        padding: 12px;
        line-height: 2; }
        .about-info .job-1 p br {
          margin-top: 5px; }
    .about-info .job-2 {
      grid-area: job2; }
      .about-info .job-2 h4, .about-info .job-2 h5 {
        color: #8a8787;
        padding-left: 12px; }
      .about-info .job-2 p {
        font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        color: #a3a0a0;
        font-size: 0.9rem;
        padding: 12px;
        line-height: 2; }
        .about-info .job-2 p br {
          margin-top: 5px; }
    .about-info .job-3 {
      grid-area: job3; }
      .about-info .job-3 h4, .about-info .job-3 h5 {
        color: #8a8787;
        padding-left: 12px; }
      .about-info .job-3 p {
        font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        color: #a3a0a0;
        font-size: 0.9rem;
        padding: 12px;
        line-height: 2; }
        .about-info .job-3 p br {
          margin-top: 5px; }
    .about-info .job {
      background: white;
      padding: 0.5rem;
      border-bottom: #eece1a 5px solid; }

  .projects {
    grid-template-columns: repeat(4, 1fr); } }
#main-footer {
  text-align: center !important;
  padding: 1rem;
  background: #706e6e;
  color: #404040;
  height: 60px; }

@media screen and (min-width: 769px) and (max-width: 1170px) {
  .projects {
    grid-template-columns: repeat(3, 1fr); }

  body {
    background: #8a8787;
    color: #404040;
    height: 100%;
    margin: 0;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.5; }
    body#bg-img {
      background: url("../img/123.png");
      background-attachment: fixed;
      background-size: cover; }

  h1,
  h2,
  h3 {
    margin: 0;
    font-weight: 400; }
    h1.lg-heading,
    h2.lg-heading,
    h3.lg-heading {
      font-size: 5rem;
      font-weight: 700; }
    h1.sm-heading,
    h2.sm-heading,
    h3.sm-heading {
      color: white;
      position: absolute;
      margin-bottom: 2rem;
      padding: 0.2rem 1rem;
      background: rgba(143, 140, 140, 0.7); }
    h1 h3.text-secondary,
    h2 h3.text-secondary,
    h3 h3.text-secondary {
      color: #eece1a; }
    h1.letme,
    h2.letme,
    h3.letme {
      top: 152px;
      left: 50px; }

  a {
    color: #fff;
    text-decoration: none; }

  header {
    position: fixed;
    z-index: 2;
    width: 100%; }

  .text-secondary {
    color: #eece1a; }

  main {
    padding: 4rem;
    min-height: calc(100vh - 60px); }
    main .icons {
      margin-top: 4.8rem; }
      main .icons a {
        padding: 1rem;
        -webkit-transition: 1s ease;
        -moz-transition: 1s ease;
        -o-transition: 1s ease;
        transition: 1s ease; }
        main .icons a:hover:nth-child(1) {
          color: #1dcaff;
          transition: all 1.5s ease-out;
          -webkit-transition: all 1.5s ease-out;
          -moz-transition: all 1.5s ease-out;
          -ms-transition: all 1.5s ease-out;
          -o-transition: all 1.5s ease-out;
          -webkit-transform: scale(1.25);
          -moz-transform: scale(1.25);
          -o-transform: scale(1.25);
          transform: scale(1.25);
          -webkit-transform-origin: top right;
          -moz-transform-origin: top right;
          -o-transform-origin: top right;
          transform-origin: top right; }
        main .icons a:hover:nth-child(2) {
          color: #0077B5;
          transition: all 1.5s ease-out;
          -webkit-transition: all 1.5s ease-out;
          -moz-transition: all 1.5s ease-out;
          -ms-transition: all 1.5s ease-out;
          -o-transition: all 1.5s ease-out;
          -webkit-transform: scale(1.25);
          -moz-transform: scale(1.25);
          -o-transform: scale(1.25);
          transform: scale(1.25);
          -webkit-transform-origin: top right;
          -moz-transform-origin: top right;
          -o-transform-origin: top right;
          transform-origin: top right; }
        main .icons a:hover:nth-child(3) {
          color: black;
          transition: all 1.5s ease-out;
          -webkit-transition: all 1.5s ease-out;
          -moz-transition: all 1.5s ease-out;
          -ms-transition: all 1.5s ease-out;
          -o-transition: all 1.5s ease-out;
          -webkit-transform: scale(1.25);
          -moz-transform: scale(1.25);
          -o-transform: scale(1.25);
          transform: scale(1.25);
          -webkit-transform-origin: top right;
          -moz-transform-origin: top right;
          -o-transform-origin: top right;
          transform-origin: top right; }
    main#home {
      overflow: hidden; }
      main#home h1 {
        margin-top: 18vh; }

  h1.abt {
    color: white; }

  .about-info {
    display: grid;
    grid-gap: 30px;
    grid-template-areas: 'bioimage bio bio' 'job1 job2 job3';
    grid-template-columns: repeat(3, 1fr); }
    .about-info .bio-image {
      grid-area: bioimage;
      margin: auto;
      width: 250px;
      height: 250px; }
    .about-info .bio {
      grid-area: bio;
      font-size: 1.5rem; }
      .about-info .bio p {
        color: white; }
      .about-info .bio h3 {
        color: #eece1a; }
    .about-info .job-1 {
      grid-area: job1; }
      .about-info .job-1 h4,
      .about-info .job-1 h5 {
        color: #8a8787;
        padding-left: 12px; }
      .about-info .job-1 p {
        font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        color: #a3a0a0;
        font-size: 0.9rem;
        padding: 12px;
        line-height: 2; }
        .about-info .job-1 p br {
          margin-top: 5px; }
    .about-info .job-2 {
      grid-area: job2; }
      .about-info .job-2 h4,
      .about-info .job-2 h5 {
        color: #8a8787;
        padding-left: 12px; }
      .about-info .job-2 p {
        font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        color: #a3a0a0;
        font-size: 0.9rem;
        padding: 12px;
        line-height: 2; }
        .about-info .job-2 p br {
          margin-top: 5px; }
    .about-info .job-3 {
      grid-area: job3; }
      .about-info .job-3 h4,
      .about-info .job-3 h5 {
        color: #8a8787;
        padding-left: 12px; }
      .about-info .job-3 p {
        font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        color: #a3a0a0;
        font-size: 0.9rem;
        padding: 12px;
        line-height: 2; }
        .about-info .job-3 p br {
          margin-top: 5px; }
    .about-info .job {
      background: white;
      padding: 0.5rem;
      border-bottom: #eece1a 5px solid; } }
@media screen and (max-width: 768px) {
  .about-info {
    display: grid;
    grid-gap: 30px;
    grid-template-areas: 'bioimage'  'bio'  'job1' 'job2' 'job3'; }
    .about-info .bio-image {
      grid-area: bioimage;
      margin: auto;
      width: 250px;
      height: 250px; }
    .about-info .bio {
      grid-area: bio;
      font-size: 1.5rem; }
      .about-info .bio p {
        color: #8a8787; }
      .about-info .bio h3 {
        color: #8a8787; }
    .about-info .job-1 {
      grid-area: job1; }
      .about-info .job-1 h4,
      .about-info .job-1 h5 {
        color: #8a8787;
        padding-left: 12px; }
      .about-info .job-1 p {
        font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        color: #a3a0a0;
        font-size: 0.9rem;
        padding: 12px;
        line-height: 2; }
        .about-info .job-1 p br {
          margin-top: 5px; }
    .about-info .job-2 {
      grid-area: job2; }
      .about-info .job-2 h4,
      .about-info .job-2 h5 {
        color: #8a8787;
        padding-left: 12px; }
      .about-info .job-2 p {
        font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        color: #a3a0a0;
        font-size: 0.9rem;
        padding: 12px;
        line-height: 2; }
        .about-info .job-2 p br {
          margin-top: 5px; }
    .about-info .job-3 {
      grid-area: job3; }
      .about-info .job-3 h4,
      .about-info .job-3 h5 {
        color: #8a8787;
        padding-left: 12px; }
      .about-info .job-3 p {
        font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        color: #a3a0a0;
        font-size: 0.9rem;
        padding: 12px;
        line-height: 2; }
        .about-info .job-3 p br {
          margin-top: 5px; }
    .about-info .job {
      margin: 10px;
      background: white;
      padding: 0.5rem;
      border-bottom: #8a8787 5px solid; }

  h1.lg-heading {
    margin-top: 15px; }

  main {
    align-items: center;
    text-align: center; }
    main .lg-heading {
      line-height: 1;
      margin-bottom: 1rem; }

  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0; }
    ul.menu-nav.show,
    div.menu-branding.show {
      transform: translate3d(0, 0, 0); }

  .menu-nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px; }

  .menu-branding {
    height: 25vh;
    transform: translate3d(100%, 0, 0); }
    .menu-branding .logo {
      background: url("../img/2019.png");
      width: 150px;
      height: 150px; }

  .projects {
    grid-template-columns: repeat(2, 1fr); } }
@media screen and (min-width: 500px) and (max-width: 767px) {
  .bio-image {
    position: relative;
    top: 180px; }

  .bio {
    margin-top: 120px; }

  .menu-btn {
    position: absolute;
    z-index: 3;
    right: 25px;
    top: 25px;
    cursor: pointer;
    transition: all 1.5s ease-out;
    -webkit-transition: all 1.5s ease-out;
    -moz-transition: all 1.5s ease-out;
    -ms-transition: all 1.5s ease-out;
    -o-transition: all 1.5s ease-out; }
    .menu-btn.close {
      transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      right: 9.5vw;
      top: 0.3vh; }

  main {
    background: rgba(168, 165, 165, 0.5);
    padding-bottom: 11rem; }

  main#home h1 {
    margin-top: 44vh; }

  .projects {
    grid-template-columns: 1fr; }

  h1.abt {
    position: absolute;
    top: 70px;
    left: 25%; }

  h2.letme {
    position: absolute;
    top: 150px;
    right: 20%; }

  h1,
  h2,
  h3 {
    margin: 0;
    font-weight: 400; }
    h1.lg-heading,
    h2.lg-heading,
    h3.lg-heading {
      font-size: 3.8rem;
      font-weight: 700;
      color: white; }
    h1.sm-heading,
    h2.sm-heading,
    h3.sm-heading {
      color: white;
      position: absolute;
      left: 17%;
      margin-bottom: 2rem;
      padding: 0.2rem 1rem;
      margin-bottom: 2rem; }

  .lg-heading {
    color: white; }

  a {
    color: #fff;
    text-decoration: none; }

  .icons {
    margin-top: 6.8rem;
    padding-bottom: 2rem; }
    .icons a {
      padding: 1rem;
      -webkit-transition: 1s ease;
      -moz-transition: 1s ease;
      -o-transition: 1s ease;
      transition: 1s ease; }
      .icons a:hover:nth-child(1) {
        color: #1dcaff;
        transition: all 1.5s ease-out;
        -webkit-transition: all 1.5s ease-out;
        -moz-transition: all 1.5s ease-out;
        -ms-transition: all 1.5s ease-out;
        -o-transition: all 1.5s ease-out;
        -webkit-transform: scale(1.25);
        -moz-transform: scale(1.25);
        -o-transform: scale(1.25);
        transform: scale(1.25);
        -webkit-transform-origin: top right;
        -moz-transform-origin: top right;
        -o-transform-origin: top right;
        transform-origin: top right; }
      .icons a:hover:nth-child(2) {
        color: #0077B5;
        transition: all 1.5s ease-out;
        -webkit-transition: all 1.5s ease-out;
        -moz-transition: all 1.5s ease-out;
        -ms-transition: all 1.5s ease-out;
        -o-transition: all 1.5s ease-out;
        -webkit-transform: scale(1.25);
        -moz-transform: scale(1.25);
        -o-transform: scale(1.25);
        transform: scale(1.25);
        -webkit-transform-origin: top right;
        -moz-transform-origin: top right;
        -o-transform-origin: top right;
        transform-origin: top right; }
      .icons a:hover:nth-child(3) {
        color: black;
        transition: all 1.5s ease-out;
        -webkit-transition: all 1.5s ease-out;
        -moz-transition: all 1.5s ease-out;
        -ms-transition: all 1.5s ease-out;
        -o-transition: all 1.5s ease-out;
        -webkit-transform: scale(1.25);
        -moz-transform: scale(1.25);
        -o-transform: scale(1.25);
        transform: scale(1.25);
        -webkit-transform-origin: top right;
        -moz-transform-origin: top right;
        -o-transform-origin: top right;
        transform-origin: top right; } }
@media screen and (max-width: 500px) {
  .about-info {
    grid-template-areas: 'bioimage' 'bio' 'job1' 'job2' 'job3';
    grid-template-columns: 1fr; }

  .menu-btn {
    position: absolute;
    z-index: 3;
    right: 25px;
    top: 30px;
    cursor: pointer;
    transition: all 1.5s ease-out;
    -webkit-transition: all 1.5s ease-out;
    -moz-transition: all 1.5s ease-out;
    -ms-transition: all 1.5s ease-out;
    -o-transition: all 1.5s ease-out; }
    .menu-btn.close {
      transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      right: 8.5vw;
      top: 0vh; }
    .menu-btn.logo {
      width: -px !important; }

  main {
    background: rgba(143, 140, 140, 0.7);
    padding-bottom: 11rem; }

  main#home h1 {
    margin-top: 44vh; }

  .projects {
    grid-template-columns: 1fr; }

  h1.abt {
    position: absolute;
    top: 70px;
    left: 15%; }

  h2.letme {
    position: absolute;
    top: 145px;
    right: 13%; }

  .bio-image {
    position: relative;
    top: 190px; }

  .bio {
    margin-top: 120px; }

  .bio-text {
    color: white !important;
    font-size: 16px; }

  h1,
  h2,
  h3 {
    margin: 0;
    font-weight: 400; }
    h1.lg-heading,
    h2.lg-heading,
    h3.lg-heading {
      font-size: 3rem;
      font-weight: 700;
      color: #eece1a; }
    h1.sm-heading,
    h2.sm-heading,
    h3.sm-heading {
      color: white;
      position: absolute;
      left: 30px;
      margin-bottom: 2rem;
      margin-bottom: 2rem; }

  .lg-heading {
    color: white; }

  a {
    color: #fff;
    text-decoration: none; }

  .icons {
    margin-top: 6.8rem;
    padding-bottom: 2rem; }
    .icons a {
      padding: 1rem;
      -webkit-transition: 1s ease;
      -moz-transition: 1s ease;
      -o-transition: 1s ease;
      transition: 1s ease; }
      .icons a:hover:nth-child(1) {
        color: #1dcaff;
        transition: all 1.5s ease-out;
        -webkit-transition: all 1.5s ease-out;
        -moz-transition: all 1.5s ease-out;
        -ms-transition: all 1.5s ease-out;
        -o-transition: all 1.5s ease-out;
        -webkit-transform: scale(1.25);
        -moz-transform: scale(1.25);
        -o-transform: scale(1.25);
        transform: scale(1.25);
        -webkit-transform-origin: top right;
        -moz-transform-origin: top right;
        -o-transform-origin: top right;
        transform-origin: top right; }
      .icons a:hover:nth-child(2) {
        color: #0077B5;
        transition: all 1.5s ease-out;
        -webkit-transition: all 1.5s ease-out;
        -moz-transition: all 1.5s ease-out;
        -ms-transition: all 1.5s ease-out;
        -o-transition: all 1.5s ease-out;
        -webkit-transform: scale(1.25);
        -moz-transform: scale(1.25);
        -o-transform: scale(1.25);
        transform: scale(1.25);
        -webkit-transform-origin: top right;
        -moz-transform-origin: top right;
        -o-transform-origin: top right;
        transform-origin: top right; }
      .icons a:hover:nth-child(3) {
        color: black;
        transition: all 1.5s ease-out;
        -webkit-transition: all 1.5s ease-out;
        -moz-transition: all 1.5s ease-out;
        -ms-transition: all 1.5s ease-out;
        -o-transition: all 1.5s ease-out;
        -webkit-transform: scale(1.25);
        -moz-transform: scale(1.25);
        -o-transform: scale(1.25);
        transform: scale(1.25);
        -webkit-transform-origin: top right;
        -moz-transform-origin: top right;
        -o-transform-origin: top right;
        transform-origin: top right; } }

/*# sourceMappingURL=main.css.map */
