@import 'variable.scss';
@import 'mixin.scss';

.menu-btn{
    position:absolute;
    z-index:3;
    right:35px;
    top:35px;
    cursor: pointer;
    @include easeOut;
        &.close{
        transform: rotate(180deg)    ;
        -webkit-transform: rotate(180deg)    ;
        -moz-transform: rotate(180deg)    ;
        -ms-transform: rotate(180deg)    ;
        -o-transform: rotate(180deg)    ;
      
}
}